* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.forehead {
  color: #fff;
  background-color: #46494C;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

ul.menu {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  display: flex;
  margin: auto;
}

.title {
  padding: 30px;
}

.menuIcon {
  height: 40px;
  padding: 30px
}

.menuIcon:hover {
  filter: invert(.5);
}
