body {
  color: white;
  background: black;
  font-family: Helvetica;
}

h1 {
  size: 10em;
}

.menu a:link, a:visited {
  color: white;
  text-decoration: none;
}

.menu a:link:active, a:visited:active, a:hover {
  color: aqua;
}
